# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/inventory/

# Ansible
ansible/.ansible/
ansible/*.retry
ansible/inventory/cluster/group_vars/all.yml

# SSH keys
*.pem
*.key
id_rsa*

# macOS
.DS_Store
